name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - '.*'
      - package.json
      - bun.lock

  pull_request:
    branches: [main]
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - '.*'
      - package.json
      - bun.lock

  workflow_dispatch:

# Add cancel in-progress for a concurrency group
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-test:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Latvian
    strategy:
      fail-fast: true

    steps:
      - name: Checkout commit
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node & Bun
        uses: ./.github/actions/install-deps

      - name: Run linter
        run: bun lint

      - name: Run typechecker
        run: bun run typecheck

      - name: Run tests
        run: bun run test:no-watch

      - name: Build
        run: bun run build
